{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/comingsoon.css' %}">
    <link rel="shortcut icon" href="{% static 'icon/logo-icon2.png' %}">
    <title>Petros</title>
</head>
<body>
   <div class="container">
        <div class="font">
            <img src="{% static 'images/comingsoon/font.png' %}" alt="">
        </div>
        <div class="logo">
        <a href="">
            <img src="{% static 'images/comingsoon/logo.png' %}" alt="">
        </a>
        </div>
  </div>
</body>
</html>
